---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;

$yellow: #f2ee7a;
$blue:   #1e95e4;
$green:  #00cc67;
$gray:   #6e6e6e;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "navigation"
;
