# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: nkosi online
description: A blog site for documenting what I learn about the web and computer science
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://lookonthebrightside.github.io/" # the base hostname & protocol for your site

permalink: pretty
# Build settings
markdown: kramdown
highlighter: rouge
