.introduction__text ul 
  li
    list-style-type: circle
.modules
  font-weight: 500
  font-size: 0.9rem
.warning li
  color: black
  font-size: 1rem
.content
  background-color: #fafafa
  font-size: $base-font-size

.navbar
  border-radius:  0

.white
  background-color: white

.divider
  margin-top: 40px
  &:last-of-type
    margin-bottom: 40px

.yellow__top
  border-top: 10px solid $yellow
.green__top
  border-top: 10px solid $green

.introduction,
.blog
  padding: 24px

.img-center
  margin-left: auto
  margin-right: auto
// .work, .contact, .blog
.contact
  &__link_instagram:before,
  &__link_twitter:before,
  &__link_github:before,
  &__link_email:before,
  &__link_linkedin:before
    padding-right: 0.6rem
  &__link_twitter:before
    content: url('../images/003-twitter-logo-silhouette.svg')
    vertical-align: -30%
  &__link_github:before
    content: url('../images/005-github-sign.svg')
    vertical-align: -30%
  &__link_email:before
    content: url('../images/001-email.svg')
    vertical-align: -30%
  &__link_instagram:before
    content: url('../images/002-instagram-logo.svg')
    vertical-align: -30%
  &__link_linkedin:before
    content: url('../images/004-linkedin-logo.svg')
    vertical-align: -30%


.introduction
  font-size: 120%
  padding-right: 24px
  &__text
    font-family: $base-font-family
    margin-top: 24px

.center__text
  text-align: center
.site-link
  padding: 0.2rem
  color: $blue
  &:hover,
  &:focus
    background-color: lighten($yellow, 5%)
    text-decoration: none
    padding: 0.2rem

.blog
  &__heading
    font-weight: 500
  &__posts
    margin-top: 24px
    font-size: 120%
    color: $gray
    margin-right: 0
    &__link
      display: inherit
      color: $gray
      padding: 0 0.3rem
      border-bottom: 1px solid lighten($gray, 55%)
      &:focus
        outline: none
        text-decoration: none
      &:hover
        color: darken($gray, 80%)
        text-decoration: none
        background-color: lighten($blue, 40%)

.contact 
  .blog__posts__link
    color: lighten(black, 30%)
    &:hover
      background-color: white
      color: darken($blue, 70%)
      text-decoration: line-through

