.navbar-dark .navbar-brand
  color: white
  font-weight: 600
  text-transform: uppercase
  font-family: "roboto"
  letter-spacing: 4px
.nav-link
  color: white
  font-weight: 500

.navbar-dark .navbar-nav .nav-link
  color: white
  font-size: 18px
  border-bottom: 2px solid transparent
  &:hover
    border-bottom: 2px solid white
    color: white
.bg-blue
  background-color: $blue
